* text=auto eol=lf

*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary

*.db binary
*.snk binary